<!DOCTYPE html>
<html>
  <head>
    <title><%= novo %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= novo %></h1>
    <p>Seja bem-vindo <%= novo %></p>
    <p>Meu nome é <%= nome %></p>
  </body>
</html>
